<div class="d-flex flex-row justify-content-center align-items-center buttons-container-after p-1">
  <% if params[:query].present? %>
    <% @businesses.distinct.pluck(:category).each do |bus| %>
      <h2 class="fw-bold"><%= bus.capitalize.gsub('_', ' ') + "s" %></h3>
    <% end %>
  <% else %>
    <h3 class="fw-bold">What kind of place?</h3>
  <% end %>
</div>
