<div class="d-flex flex-row justify-content-center align-items-center buttons-container-after">
  <% @businesses.distinct.pluck(:category).each do |bus| %>
    <h3 class="fw-bold"><%= bus.capitalize.gsub('_', ' ') + "s" %></h3>
  <% end %>
</div>
