<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4">
      <% @businesses.each do |business|  %>
        <%= link_to meet_business_path(Meet.find(params[:meet_id]), business) do %>
          <div class="business-card">
            <% unless business.image_url.nil? %>
              <%= image_tag Business::PHOTO_ROUTE + business.image_url + Business::INDEX_PARAMS, alt: business.name, class: "business-images" %>
            <% end %>
            <h6 class="business-card-titles"><%= business.name %></h6>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>
</div>
