<div class="justify-content-center buttons-container-after m-2 ms-4 buttons-container-after">
  <% if params[:query].present? %>
    <h2 class="fs-1 pb-2">
      <% if @businesses.first.category == "meal_takeaway" %>
        Casual dining
      <% elsif @businesses.first.category == "gym" %>
        Hotels
      <% elsif @businesses.first.category == "liquor_store" %>
        Delicatessens
      <% elsif @businesses.first.category == "convenience_store" %>
        Tap rooms
      <% else %>
        <%= @businesses.first.category.capitalize.gsub('_', ' ') + "s" %>
      <% end %>
    </h2>
  <% else %>
    <h2 class="fs-1 pb-2">What kind of place?</h2>
  <% end %>
</div>
