<div class="justify-content-center buttons-container-after m-2 ms-4">
  <div class="mt-1 d-flex flex-row">
    <i class="fa-solid fa-store-slash fs-1 me-2"></i>
    <h1>No business found</h1>
  </div>
  <p>This could be because:</p>
  <ul>
    <li>You're searching someone where there's no highly-rated businesses at your mid-way point</li>
    <li>It's late, nowhere is open right now - we recommend you go home instead</li>
    <li>This is all a dream...</li>
  </ul>
</div>
