<div class="border border-1">
  <% @businesses.distinct('category').each do |bus| %>
    <%= button_to bus.category , meet_businesses_path(params[:meet_id]), method: :get, params: { query: bus.category }, class:"w-80 btn btn-lg btn-dark mb-3 rounded" %>
  <% end %>

</div>
