


<div class="container">
  <div class="row">
    <h2><strong><%= @business.name %></strong></h2>
    <div class="#">
    <h2><%= @business.street_address %></h2>
    <h2><%= @business.category %></h2>



  </div>
</div>
