// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2c66758a;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #d3d3d3;
$light-gray: #F4F4F4;
$thames-blue: #0e1626;
