<div data-controller="enter-locations">
    <div class="container d-flex flex-column border border-solid bg-info">

  <script src="main.js"></script>
      <strong> Welcome to Let's Get! </strong>
          <div class="align-self-center" data-edit-location-target>
            <input required type="text" id=search name="location" placeholder="Enter your location" class="input-location" required input name="street-address" autocomplete="off" />
            <%= render "shared/locate_icon" %>
            <div class="align-self-center" label for="location"><strong>Provide your Location</strong> </label></div>
            <input required type="text" id=search name="location" placeholder="Enter friend's location" class="input-location" required input name="street-address" autocomplete="off" />

          </div>

    </div>
    <%# <input type="text" autocomplete="street-address" />
    <ul id="results">
      <li>Result 1 (TODO: remove)</li>
      <li>Result 2
      </li>
    </ul> %>
</div>
