<div class="container d-flex flex-column border border-solid bg-info" data-controller="enter-locations">
  colour is for layout
  <div class="align-self-center">
    <input type="text" placeholder="Enter your location" class="input-location" required>
    <%= render "shared/locate_icon" %>
    <input type="text" placeholder="Enter friend's location" class="input-location" required>
  </div>

</div>
