<div class="container d-flex flex-column border border-solid bg-info" data-controller="enter-locations">
  colour is for layout
  <div
    data-enter-locations-target
    data-enter-locations-target="location1"
    data-action="click->enter-locations#getUserLoc"
    class="btn btn-large btn-outline-dark bg-white fw-bold fs-2 m-4 py-2"
  >
  Click ear 👂
  </div>


  <div
    class="btn btn-large btn-outline-dark bg-white fw-bold fs-2 m-4 mt-0 py-2"
  >
    Second location
  </div>
</div>
