<div class="container">
  <h3>Recent trips</h3>
  <div class="d-flex flex-column align-items-center mt-3">
    <% @meets.each do |meet| %>
      <div class="w-80 btn btn-lg btn-dark mb-3 rounded">
        <%= link_to meet.name, meet_path(meet), class: "text-white text-decoration-none" %>
      </div>
    <% end %>
  </div>
</div>
