<div class="d-flex flex-column">

  <%# Next up need to do the background process oflooking up the midway point %>
  <%= render "form" %>

  <% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
    initMap(<%= Business.last.latitude %>, <%= Business.last.longitude %>)
    });
    </script>
<% end %>

 <%# <%= render "map_initial" %>

</div>
