<div class="d-flex flex-column">

  <%= render "form" %>

  <% provide :head_tags do %>
    <script>
      document.addEventListener("DOMContentLoaded", function(){
      initMap(51.507221,-0.127600)
      });
    </script>
  <% end %>

 <%= render "map_initial" %>

</div>
