<div class="d-flex flex-column">

  <%# Next up need to do the background process oflooking up the midway point %>
  <%= render "form" %>

  <% provide :head_tags do %>
    <script>
    // document.addEventListener("DOMContentLoaded", function(){
        // initMap(lat, long)
    // });
    // </script>
<% end %>

<%= @test %>

  [map hidden for now]

  <%# <%= render "map_initial" %>
</div>
