<div class="d-flex flex-column" data-controller="enter-locations">

  <%= render "form" %>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <h4>Hey [User], let's find some ____ </h4>
  </div>

 <%= render "init_map" %>

</div>
