<div class="d-flex flex-column" data-controller="enter-locations">

  <%= render "form" %>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <h4 align center><button class="button-28" role="button" data-action="click->profile#click">Hey there! Let's find some suggestions!!</button></h4>
  </div>

 <%= render "init_map" %>

</div>
