<div data-controller="meet-show-map"
  data-meet-show-map-business-value="<%= { lat: @meet.business.latitude, lng: @meet.business.longitude }.to_json %>"
>
  <div class="container">
    <div class="mt-2 px-2 py-3 card-directions">
      <h4 class="mb-3 fw-bold"><%= @name %></h4>
      <%= render "meet_show_map" %>

    </div>
  </div>
</div>
