.buttons-container-initial {
  background-color: #d3d3d3;
  height: 50vh;
  .button_to {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}


.buttons-container-after {
  background-color: #fff;

}
