.buttons-container-initial {
  .button_to {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    min-width: 90%;
    border-radius: 15px;
  }
}

.buttons-container-after {
  background-color: #fff0;
}

.call-to-action-container {
  min-height: 3rem;
}

.call-to-action {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: left;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  text-decoration: none;
}

.call-to-action-button {
  padding: 5px 10px;
  background: #164cd1;
  border: none;
  font-weight: bold;
  border-radius: 40px;
  color: #fff;
  transition: 0.3s;
  &:hover {
    border: solid 2px #164cd1;
  }
}

.call-to-action:active {
  transform: translateY(0);
}

.btn-whatsapp {
  &:hover {
    color: #25d366;
  }
}
