// .business-card {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }


.business-card {
  overflow: hidden;
  height: 70px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin: 10px;

}


.business-images {
  height: 100%;
  width: px;
  object-fit: cover;
}

.business-card-title {
  font-size: medium;
  color: black;
}

