.business-card {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  max-width: 369px;
  max-height: 74px;
}

.business-show-card {
  background-color: $gray;
  color: #000;

}
.category {
  width: auto;
  padding: 0 8px;
  align-self: end;
  border-radius: 8px;
  background-color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.business-images {
  object-fit: cover;
  width: 80px;
  height: 74px;
  object-fit: cover;
}

.business-show-image {
  max-height: 30vh;
  object-fit: cover;
  object-position: center;
  filter: contrast(1.2);
}

.business-card-title {
  font-size: medium;
  color: #000;
}
