.business-card {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 86px;
  border-radius: 5px;
}

.business-show-card {
  background-color: #fff;
  border-radius: 18px;
  color: #000;
}
.category {
  width: auto;
  padding: 0 8px;
  align-self: end;
  border-radius: 8px;
  background-color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.business-images {
  object-fit: cover;
  height: 86px;
  width: 100px;
  border-radius: 5px;
}

.business-show-image {
  max-height: 30vh;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  filter: contrast(1.2);
}

.card-directions {
  border-radius: 16px;
  background-color: #fff;
  font-size: medium;
  color: #000;
}
