
// HOME
.map-container-init {
  margin-top: 40%;
  height: 50vh;
}

.map-init {
  height: 45vh;
  overflow: inherit;
}

// BUSINESS INDEX
.map-container-bus-index {
  margin-top: 5% 0;
  // height: 40vh;
}

.map-bus-index {
  // position: relative;
  width: 100vw;
  height: 36vh;
}
