// HOME

.map-container-init {
  margin-top: 5%;
  .map-init {
    height: 55vh;
    overflow: inherit;
  }
}

// BUSINESS INDEX
.map-container-bus-index {
  margin: 5% 0;
}
.map-bus-index {
  width: 100vw;
  height: 36vh;
}

// BUSINESS SHOW
.map-bus-show {
  width: 100vw;
  height: 24vh;
}

// MEET SHOW
.map-container-meet-show {
  // height: 10vh;
}
.map-meet-show {
  height: 24vh;
}
