// HOME

.map-container-init {
  margin-top: 5%;
  .map-init {
    height: 55vh;
    overflow: inherit;
  }
}

// BUSINESS INDEX
.map-container-bus-index {
  margin: 5% 0;
}
.map-bus-index {
  width: 100vw;
  height: 36vh;
}

// BUSINESS SHOW
.map-bus-show {
  border-radius: 0 0 18px 18px;
  height: 20vh;
  margin-top: 10px;
}

// MEET SHOW
// .map-container-meet-show {
//   height: 10vh;
// }
.map-meet-show {
  height: 24vh;
  border-radius: 10px;
  margin-bottom: 4px;
}
