@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400&display=swap');
// fonts up here

.app-title {
  font-family: Alexandria;
  font-weight: 400;
  font-size: 3.2rem;
  color: #000;
}

.navbar-lewagon {
  padding-left: 0;
  padding-right: 0.5rem;
  justify-content: flex-end;
  background: #fff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.container-nav {
  margin-inline: 0;
}

// change this
.icon-nav:hover {
  color: rgb(0, 0, 0) !important;
}
.icon-login {
  font-size: 2.2rem;
}
.icon-arrow {
  font-size: 2.4rem;
  max-width: 1rem;
}

.btn-account {
  padding: 0;
  border: 0;
}

.item-logout {
  align-items: right;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
}

.dropdown-menu {
  line-height: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background: none;
}

.myButton:hover {
background: #1C6EA4; }

.myButton:active {
background: #144E75; };

.menu_container {
  position: absolute;
  width: 100%;
}

div.dropdown-menu{
  left:auto;
  right:auto;
}


// add media queries for larger screens here
