.navbar-lewagon {
  padding-left: 0;
  padding-right: 0.5rem;
  justify-content: flex-end;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
